@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 95%;
    --foreground: 0 0% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 0 0% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 3.9%;
    --primary: 122 21% 55%; /* #7B9D7C */
    --primary-foreground: 0 0% 100%;
    --secondary: 123 12% 38%; /* #566E58 */
    --secondary-foreground: 0 0% 100%;
    --muted: 0 0% 96.1%;
    --muted-foreground: 0 0% 45.1%;
    --accent: 0 0% 96.1%;
    --accent-foreground: 0 0% 9%;
    --destructive: 0 84.2% 60.2%;
    --border: 0 0% 89.8%;
    --input: 122 21% 55%; /* #7B9D7C */
    --ring: 0 0% 63%;
    --radius: 0.625rem;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;

    /* Additional colors from your second config */
    --tertiary: 184 15% 55%; /* #7B9B9D */
    --tertiary-light: 184 15% 55%; /* #7B9B9D */
    --blue: 217 91% 60%; /* #3B82F6 */
    --gray: 0 0% 56%; /* #909090 */
    --gray-light: 340 31% 94%; /* #F5EDF0 */
    --red: 339 75% 51%; /* #D81E5B */

    /* Text colors */
    --text-primary: 90 11% 39%; /* #636E56 */
    --text-secondary: 90 11% 55%; /* #8E9D7B */
    --text-secondary-light: 90 11% 55%; /* #8E9D7B */
    --text-neutral: 220 24% 25%; /* #2E384D */
    --text-dark: 240 3% 9%; /* #161617 */
    --text-light: 210 5% 95%; /* #F1F2F3 */
    --text-gray: 240 1% 67%; /* #A9A9AA */
    --text-white: 0 0% 100%; /* #ffffff */
  }
}
